body  {background: #efefef;}
/*title bar*/
#title_bar {
	color: #ededed;
	background: #2d2d2d;
	height: 60px;
	font-family: "Segoe UI", "Arial";
	padding: 10px;
}
#title_bar h1 {
	color: orange;
	font-size: 36px;
}
#title_bar h2 {
	font-size: 14px;
}
/*tool bar*/
#tool_bar {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
}
button {
	border: solid 1px #e5e5e5;
	background: white;
	padding: 6px 10px;
}
button:hover {
	background: orange;
	color: white;
}
/*main content area*/
#canvas_wrap {
	float: center;
	display: block;
	margin: 10px auto;
    width: 734px;
    height: 734px;
    border: solid 1px #e5e5e5;
}
/*canvas*/
#canvas {
	background: #fff;
	display: block;
	margin: 0 auto;
	padding: 7px;
    float: left;
    max-width: 720px;
    max-height: 720px;
}
.column {
    float: left;
}
.cell {
    height: 45px;
    width: 45px;
}
