/*canvas*/
#canvas {
    border: solid 1px #efefef;
    float: left;
    min-width: 960px;
    min-height: 960px;
}
.column {
    float: left;
}
.cell {
    height: 10px;
    width: 10px;
    background: #efefef;
}
/*colors*/
.red            {background: red;}
.light_red      {background: #ee6363;}
.green          {background: green;}
.light_green    {background: #63ee63;}
.blue           {background: blue;}
.light_blue     {background: #6363ee;}
